@import url('https://fonts.googleapis.com/css?family=playfair+Display:1,300,400,400italic,500,700,700italic,900');


*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins' , sans-serif;
    outline: none;
}

:root{
    --main-color:rgb(201 , 15 , 238);
    --primary-color:#fff;
    --hover:rgb(253, 128, 243);
    --black:#2a201c;
    --white:#fff;
--light-bg:#e4a3f5;
--dark-bg::rgb(0,0,0,.7);
--border:.1rem solid CYAN;
--box-shadow:0.5rem 1rem rgba(0,0,0,.1);
}
  



#header{
    background-color: rgb(201, 15, 238);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: right;
    justify-content: right;

}
 
nav{
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4); 
    margin-right: 50px;
    
}
nav ul a li{
    list-style: none;
    display: inline-block;
    padding: 2px 15px;
    margin: 8px;
    font-size: 18px;
    font-weight: 800;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav ul a li::after{
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50% , -50%);
z-index: -1;
opacity: 0;
transition: top 0.5s, opacity 0.5s;
}
nav ul a li:hover{
color: #fff; 
}

nav ul a li:hover::after{
    top: 50%;
    opacity: 1;
}
h1{
    text-align: left;
    justify-content: left;
    display: flex;
    position: relative;
    margin-right:230px;
    margin-top: 10px;
    font-family: 'Lobster', cursive;
    color: #fff;
    -webkit-text-stroke: 1px hsl(305, 84%, 57%);
    font-size: 40px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-weight: bolder;
}

.home{
    min-height: 80vh;
display: flex;
align-items: center;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/6banner.jpg);
background-size:cover;
background-position: center;
background-repeat: no-repeat;

}

.home .content{
    max-width: 60rem;
    margin-left: 20px;
}

.heading{
 display: flex;
  text-align: center;
  justify-content: center;
    color: #160a0c;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-top: 3rem;
}


.home .content span{
    font-size: 3rem;
letter-spacing: .2rem;
padding-bottom: .8rem;
color: rgb(241, 43, 241);
text-transform: uppercase;
font-family: 'Aboreto', cursive;
font-weight: 500;
}

.home .content h3{
    color: white;
font-size: 40px;
line-height: 4 rem;
font-weight: 900;
font-family: 'Playball', cursive;


}

.button{
    position: absolute;
    margin-top: 25px;
    margin-left: 7px;



}
.btn{
    padding: 10px 30px;
    border: 2px rgb(246, 40, 253) solid;
color: #faf8f8;
background-color: transparent;
border-radius: 40px;
font-weight: 400;
}

.btn:hover{
    color: rgb(39, 22, 22);
    background-color: #e4a3f5 ;
    transition: ease linear;
}
/* about */

.about{
    background-image: linear-gradient(rgb(226, 22, 226),white);
background-position: left bottom;
}

.about .row{
    display:flex ;
    align-items: center;
    flex-wrap: wrap;
}
 .about .row .images{
    flex: 1 1 39rem;
 }

 .about .row .images .img{
    width: 100;
 }
 .about .row .content{
    flex:  1 1 51rem;
    padding: 5rem;
 }
 .about .row .content h3{
font-size: 3rem;
color: #e4a3f5;
text-transform: capitalize;
 }
 .about .row .content p{
font-size: 1.6rem;
color: #777;
padding: 1rem 0;
line-height: 1.8;
 }

 .about .row .content .icon-cntainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
 }
 .about .row .content .icon-container .icon img{
    height: 5rem;

 }
 .about .row .content .icon-container .icon h3{
    padding-top: 1rem;
    font-size: 1.6rem;
    color: #777;
    font-weight: normal;
 }

 #body{
display: flex;
padding: 0 , 20px;
align-items: center;
justify-content: center;
min-height: 50vh;
background: #dc4bf0;

 }


 .wrapper{
    max-width: 1130px;
    display: flex;
align-items: center;
justify-content: space-between;


 }
 .wrapper .card{
    position: relative;
    width: calc(33% - 13px);
border-radius: 3px;
background: rgb(238, 234, 234);
margin-left: 10px;
overflow: hidden;
 }

 .wrapper .card img{
    width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease;
 }

 .wrapper .card:hover img{
    transform: scale(1.1);
 }


 .wrapper .card .content{
    position: absolute;
    padding: 10px 20px 22px 20px;
    width: 100%;
    background: #fff;
    bottom: -80%;
    transition: all 0.3s ease;
    box-shadow: 0px -3px 10px 0px rgba(0 , 0 , 0 , 0.15);
 }
 .wrapper .card:hover .content{
    bottom: 0;

 }
 .card .content .row,
 .card .content .buttons {
    display: flex;
    justify-content: space-between;
 }
 
 .content .row .details span{
    font-size: 22px;
    font-weight: 500;
 }

 .content .row .details p{
    color: #333;
font-size: 17px;
font-weight: 400;


 }
 .content .row .price{
font-weight: 600;
font-size: 20px;
color: #ff7979;

 }
 .content .buttons{
    margin-left: 0px;

 }

 .content .buttons button{
width: 100%;
outline: none;
padding: 10px 0;
font-size: 17px;
font-weight: 500;
border-radius: 3px;
border: 2px solid #ff7979;
cursor: pointer;
text-transform: uppercase;
transition: all 0.3s ease;
 }

 .buttons button:first-child{
    color:#ff7979;
    background: #fcfafa;
    margin-left: 10px;
 }

 button:first-child:hover{
    color: #fff;
    background: #ff7979;
 }


 .buttons button:last-child{
    color: #fff;
    background: #ff7979;
    margin-left: 10px;
 }

 button:last-child:hover{
    background: #ff6666;
    border-color: #ff6666;
 }















